:root {
  --fonte-MontSerrat: "Montserrat", sans-serif;
  --fonte-Krona: 'Krona One', sans-serif;
  --fonte-Open: 'Open Sans', sans-serif;
  --gradiente: linear-gradient(180deg, #E8F5C8 0%, rgb(255, 255, 255) 80%);
  --gradiente-card: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  --branco: #fff;
  --cinza-escuro: #5D586C;
  --roxo-calmante: #85A0FF;
  --verde-claro: #E8F5C8;
  --azul-botao: #b6bfde;
  --roxo-vibrante: #4E75FF;
  --roxo-escuro: #4163DA;
  --lilas-escuro: #0C0421;
  --cor-do-titulo-boas-vindas: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  background: transparent;
  border: none;
}

body {
  background: var(--gradiente);
}

.container {
  margin: 2rem 0;
  padding: 1rem;
}

 